h1{
    color: goldenrod;
    background-color: aquamarine;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20PX 20px;
    padding: 20PX 20px;
    border: 20px solid yellow;
    border-radius: 20px;
}
.span{
    color: aqua;
    background-color: rebeccapurple;
}